<div id="splash-container">
  <div class="row row-flex" id="splash-stuff">
    <div class="col">
      <div class="panel panel-default flex-col" id="splash-title">
        <h1>MOUSE<br />TRAPPED</h1>
      </div>
    </div>

    <div class="col" id="splash-buttons">
      <button type="button" class="btn btn-primary" onclick="window.location = '/play';">Start Playing</button>
      <button type="button" class="btn btn-success" onclick="window.location = '/about';">About the Game</button>
    </div>
  </div>
</div>

<% if @levels.count > 0 %>
  <div class="container" style="margin-top: 2em;">
    <div class="alert alert-info">
      <h4 class="alert-heading">Recent Levels</h4>
      <p>
        There <%= @verb %> <%= @levels.count %> new <%= @noun %> from the past two weeks. Click below to play <%= @pronoun %>.
      </p>
      <p>
        <% @levels.each do |lvl| %>
          <a href="/play?lvl=<%= lvl.code %>"><%= lvl.code %></a> <br />
        <% end %>
      </p>
    </div>
  </div>
<% end %>
