<%= form_with(model: subscription, local: true, remote: true) do |form| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <span style="color: #555;">
      <%= form.label :email, value: 'Email address' %>
    </span>
    <%= form.text_field :email, placeholder: "someone@example.com", class: "form-control", type: 'email', id: :subscription_email %>
  </div>

  <div class="field form-group">
    <span style="color: #555;">
      <%= form.label :code, value: 'Invitation code (optional)' %>
    </span>
    <%= form.text_field :code, length: 7, placeholder: "fffffff", class: "form-control", id: :invitation_code_field %>
  </div>

  <div class="actions">
    <%= form.submit value: 'Subscribe', class: 'btn btn-primary' %>
  </div>
<% end %>
